<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Amazona</title>

    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <a href="index.html">amazona</a>
                </div>
                <div class="header-links">
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>

                </div>
            </header>
                <main class="main">
                    <ul>
                        <li>Product 1</li>
                    </ul>
                </main>
                <footer class="footer">
                    All rights reserved.
                </footer>
        </div>
        
    </body>
</html>